<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/sign_up.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script defer th:src="@{/js/sign_up.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 메시지를 처리하는 스크립트 -->
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // 메시지를 Thymeleaf로부터 안전하게 읽어옴
            const message = [[${message}]];

            // 메시지가 있을 경우에만 alert 표시
            if (message) {
                alert(message);
            }
        });
    </script>
    <script>
        function execDaumPostcode(event) {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }


                    } else {

                    }

                    let clickedElement = event.target;
                    let addressBigBox = clickedElement.closest(".address_bigbox");

                    addressBigBox.querySelector(".addressEnglishText").innerHTML = data.addressEnglish;
                    addressBigBox.querySelector(".addressEnglishText").style.color = "black";
                    addressBigBox.querySelector(".addressEnglish").value = data.addressEnglish;

                    addressBigBox.querySelector(".postcodeText").innerHTML = data.zonecode;
                    addressBigBox.querySelector(".postcodeText").style.color = "black";
                    addressBigBox.querySelector(".postcode").value = data.zonecode;

                    addressBigBox.querySelector(".detailAddress").focus();

                }
            }).open();
        }
    </script>
</head>
<body>
<main>
    <a th:href="@{/main}">
        <h1>CALTIZM</h1>
    </a>
    <form th:action="@{/signup}" method="post" onsubmit="return validateForm()">
        <div id="margin_box"></div>
        <span class="title">필수입력</span><br>
        <div id="signUp_box">
            <div class="bigbox">
                <div id="name_box" class="box">
                    <input type="text" name="last_name" id="last_name" class="input" placeholder="성" required>
                    <input type="text" name="first_name" id="first_name" class="input" placeholder="이름" required>
                </div>
                <div id="email_box" class="box">
                    <input type="text" name="email" id="email" class="input" placeholder="이메일을 입력해주세요" required>
                </div>
                <div id="phone_box" class="box">
                    <input type="text" name="phone_number" id="phone" class="input" placeholder="- 없이 전화번호를 입력해주세요" required>
                </div>
                <div id="birth_box" class="box">
                    <input type="date" name="birth_date" id="birth" class="input" min="1925-01-01" max="2006-12-31" placeholder="생년월일을 8자로 적어주세요" required>
                </div>
            </div>
            <div class="bigbox address_bigbox" id="address_box_box">
                <div id="address_box" class="box" onclick="execDaumPostcode(event)">
                    <p class="input addressEnglishText">영문주소</p>
                    <input type="text" name="address" class="addressEnglish" style="display: none;">
                </div>
                <div id="postcode_box" class="box" onclick="execDaumPostcode(event)">
                    <p class="input postcodeText">우편번호</p>
                    <input type="text" name="zip_code" class="postcode" style="display: none;">
                </div>
                <div id="detailed_address_box" class="box">
                    <input type="text" name="detail" class="input detailAddress" placeholder="상세주소를 입력해주세요" required>
                </div>
            </div>
            <div id="plus_btn">
                <img th:src="@{/img/plus.svg}" alt="">
            </div>
            <div class="bigbox">
                <div id="passwd_box" class="box">
                    <input type="password" name="password" id="passwd" class="input" placeholder="비밀번호를 입력해주세요" required>
                    <input type="password" name="checkPw" id="passwd_check" class="input" placeholder="비밀번호 확인" required>
                </div>
            </div>
        </div>
        <p class="title" id="title2">선택입력</p>
        <div class="bigbox" id="boxbox">
            <div id="pcc_box" class="box">
                <input type="text" name="pccc" id="pcc" class="input" placeholder="개인통관고유번호">
            </div>
        </div>
        <button id="btn">가입</button>
    </form>
</main>
</body>
</html>