<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Change Password</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Enter your email</h2>-->
<!--<form action="/find-password" method="POST">-->
<!--  <input type="text" name="email" placeholder="이메일을 입력해주세요">-->
<!--  <button type="submit">입력</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Password</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/font.css}">
</head>
<body>
<main>
  <a th:href="@{/main}">
    <h1>CALTIZM</h1>
  </a>
  <p id="title" style="border-bottom: 1.5px solid rgba(148, 147, 147, 1); margin-bottom: 30px;">비밀번호찾기</p>
  <form th:action="@{/find-password}" method="POST">
    <div id="box">
      <input type="text" id="email" name="email" placeholder="이메일주소를 입력해주세요" required>
      <div id="explain_txt">
        <p>메일을 확인하여 새로운</p>
        <p>비밀번호를 확인하세요</p>
      </div>
      <button id="btn" type="submit">발송</button>
    </div>
  </form>
</main>
</body>
</html>