@media (max-width: 1400px) {
    .count_wrap {
        display: none;
    }
}

.coupon_wrap {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid #d6bac3;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.coupon_input {
    text-align: center;
}

.apply_coupon_button {
    border: 1px solid #d6bac3;
    border-radius: 1px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    font-size: 12px;
}

.apply_coupon_button:hover {
    background-color: #f1f0f0;
}
