<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer th:src="@{/js/header.js}"></script>
    <script defer th:src="@{/js/main.js}"></script>
    <th:block th:insert="fragments/footerhead :: head"></th:block>
</head>
<body>

<th:block th:replace="fragments/header1 :: header"></th:block>

<main>
    <div id="banner_wrap">
        <div id="prev_btn_wrap" class="btn_wrap">
            <img th:src="@{/img/prev.svg}" alt="" class="btn">
        </div>
        <div id="next_btn_wrap" class="btn_wrap">
            <img th:src="@{/img/next.svg}" alt="" class="btn">
        </div>
        <ul id="banner">
            <li th:each="bi : ${BannerImages}" class="banner_img_wrap">
                <a th:href="@{/promotion}" target="_blank">
                    <img th:src="${bi}" alt="Banner Image" class="banner_img"/>
                </a>
            </li>
        </ul>
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>

</body>
</html>