<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Add</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/addr.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }

                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("postcode").value = data.zonecode;
                    document.getElementById("postcodeText").innerHTML = data.zonecode;
                    document.getElementById("postcodeText").style.color = "black"
                    document.getElementById("addressEnglish").value = data.addressEnglish;
                    document.getElementById("addressEnglishText").innerHTML = data.addressEnglish;
                    document.getElementById("addressEnglishText").style.color = "black";
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }

        $(document).ready(function(){
            $("#add-btn").click(function(){
                let address = $("#addressEnglish").val();
                let zipCode = $("#postcode").val();
                let detail = $("#detailAddress").val();
                console.log(address, zipCode, detail);

                if(address.trim() === "" || zipCode.trim() === "" || detail.trim() == ""){
                    alert("모든 필드를 채워주세요.");
                    return;
                }

                let data = {
                        address: address,
                        zipCode: zipCode,
                        detail: detail
                };

                $.ajax({
                    url: "/address/create",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function(response){
                        alert(response.message);
                        if(response.status === "add_success"){
                            window.location.href = "/myPage";
                        }
                    },
                    error: function(xhr, status, error){
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>

</head>
<body>
<main>
    <a th:href="@{/main}">
        <h1>CALTIZM</h1>
    </a>
    <div class="big_box">
        <p class="title">주소록 추가</p>
        <div class="input_wrap">
            <div class="box">
                <p class="input" id="addressEnglishText" onclick="execDaumPostcode()">영문주소</p>
                <input type="text" name="address" id="addressEnglish" style="display: none;" required>
            </div>
            <div class="box">
                <p class="input" id="postcodeText" onclick="execDaumPostcode()">우편번호</p>
                <input type="text" name="zipCode" id="postcode" style="display: none;" required>
            </div>
            <div class="box">
                <input type="text" name="detail" class="input" id="detailAddress" placeholder="상세주소를 입력해주세요" required>
            </div>
        </div>
        <button class="btn" id="add-btn">주소록 추가</button>
    </div>
</main>
</body>
</html>