<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <script defer th:src="@{/js/mypage.js}"></script>
    <script defer th:src="@{/js/modal1.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="modal_wrap" id="modal1">
    <div class="modal">
        <div class="modal_title">
            <p class="title_txt">주소록 관리</p>
            <div class="close_wrap" id="close_wrap">
                <img th:src="@{/img/close.svg}" alt="" id="close">
            </div>
        </div>
        <ul class="modal_boxs">
            <!-- modal_box를 클릭하면 addr_write 페이지로 이동시킬 생각입니다 -->
            <li class="modal_box" th:each="address, addressStat : ${addressList}" th:data-address-id="${address.addressId}">
                <a th:href="@{/address/update/{id}(id = ${address.addressId})}">
                    <div class="modal_box_title">
                        <p class="box_title_txt" th:text="주소록 + ' ' + ${addressStat.count}">주소록</p>
                        <div class="close_wrap">
                            <img th:src="@{/img/close.svg}" alt="" class="close">
                        </div>
                    </div>
                    <div class="modal_box_items">
                        <p class="modal_box_item" th:text="${address.address}">Geombae-ro, Guri-si, Gyeonggi-do, Republic of Korea, KoreaKoreaKoreaKoreaKoreaKoreaKorea</p>
                        <p class="modal_box_item" th:text="${address.zipCode}">우편번호 - 0123456</p>
                        <p class="modal_box_item" th:text="${address.detail}">홍길시 홍길동 홍길로123 홍길아파트 홍길홍길</p>
                    </div>
                </a>
            </li>
        </ul>
        <!-- addr_plus 페이지로 이동, 이후 해당 페이지로 리턴 -->
        <!-- 현재는 어떤식으로 동작할지 보이기 위해 단순히 modal1.js에서 innerHTML을 통해 정해진
            데이터를 추가하고 있습니다. 하지만 해당 기능은 실제로는 서버쪽에서 기능을 수행할 시 필요없는
            코드입니다. 추후 서버 작업을 하시면 modal1.js에 주석으로 삭제 위치를 표시해 두었습니다.
            해당 아이템을 편하게 삭제 후 진행해주시면 됩니다. 감사합니다. -->

        <!-- form태그 살려서 작업해주시면 됩니다 -->
        <!-- <form th:action="@{/address/create}" method="get"> -->
        <a th:href="@{/address/create}">
                <button class="modal_btn">주소록 추가</button>
        </a>
        <!-- </form> -->
    </div>
</div>
<main>
    <a th:href="@{/main}">
        <h1>CALTIZM</h1>
    </a>
    <div id="tab_wrap">
        <p class="tab">내 정보</p>
        <p class="tab">비밀번호 변경</p>
        <p class="tab">내 게시글</p>
    </div>
    <div id="info_box">
        <div id="user_info_wrap" class="box_wrap">
            <!-- ajax를 통한 동적인 서버 데이터 변동을 할 생각입니다 -->
            <!-- 이를 위해 jqery도 추가 해두었습니다 -->
            <div id="update_btn_wrap" class="btn_wrap">
                <button id="update_btn" class="btn">정보일괄수정</button>
            </div>
            <ul id="user_info" class="info_wrap">
                <li class="info">
                    <p>이름</p>
                    <input id="name" name="name" class="info_input" type="text" th:value="${user.firstName} + ' ' + ${user.lastName}" placeholder="영문 이름을 적어주세요" readonly required>
                </li>
                <li class="info">
                    <p>이메일</p>
                    <input id="email" name="email" class="info_input_readonly" type="email" th:value="${user.email}" placeholder="이메일을 적어주세요" readonly required>
                </li>
                <li class="info">
                    <p>전화번호</p>
                    <input id="phone" name="phoneNumber" class="info_input" type="tel" th:value="${user.phoneNumber}" placeholder="번호를 적어주세요" readonly maxlength="11" required>
                </li>
                <li class="info">
                    <p>생년월일</p>
                    <input id="birth" name="birthDate" class="info_input" type="date" th:value="${user.birthDate}" min="1925-01-01" max="2006-12-31" placeholder="생년월일을 적어주세요" readonly required>
                </li>
                <li class="info">
                    <p>개인통관고유번호</p>
                    <input id="pcc" name="pccc" class="info_input" type="text"
                           th:value="${user.pccc != null ? user.pccc : ''}"
                           placeholder="[none]"
                           readonly>
                </li>
            </ul>
        </div>
        <div id="address_info_wrap" class="box_wrap">
            <div id="address_btn_wrap" class="btn_wrap">
                <button id="address_btn" class="btn">주소록관리</button>
            </div>
            <ul class="info_wrap" th:each="address : ${addressList}" th:data-address-id="${address.addressId}">
                <li class="info">
                    <p>영문주소</p>
                    <p id="eng_addr" th:text="${address.address}">Geombae-ro, Guri-si, Gyeonggi-do, Republic of Korea</p>
                </li>
                <li class="info">
                    <p>우편번호</p>
                    <p id="postcode" th:text="${address.zipCode}">0123456</p>
                </li>
                <li class="info">
                    <p>상세주소</p>
                    <p id="detailed" th:text="${address.detail}">홍길시 홍길동 홍길로123 홍길아파트 홍길홍길</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="passwd_box" style="display: none;">
        <div class="box_wrap">
            <ul id="pwd_info" class="info_wrap">
                <li class="info">
                    <p>새 비밀번호</p>
                    <div id="pwd_wrap">
                        <input id="pwd" name="newPassword1" type="password" placeholder="비밀번호입력" required>
                    </div>
                </li>
                <li class="info">
                    <p>새 비밀번호 확인</p>
                    <div id="pwd_check_wrap">
                        <input id="pwd_check" name="newPassword2" type="password" placeholder="비밀번호입력 확인" required>
                    </div>
                </li>
            </ul>
            <div id="pwd_btn_wrap" class="btn_wrap">
                <button id="pwd_btn" class="btn" type="submit">비밀번호변경</button>
            </div>
        </div>
    </div>
    <div id="board_box" style="display: none;">
        <div class="box_wrap">
            <ul id="board_info" class="info_wrap">
                <li class="info2" th:each="post : ${postList}">
                    <p th:text="${#strings.equals(post.subject, '자유게시판') ? '자유' : post.subject}"></p>
                    <p><a th:href="@{/postone/{id}(id = ${post.post_id})}" style="cursor: pointer">[[${post.title}]]</a></p>
                </li>
                <!-- li가 추가되는 형식으로 제작 -->
            </ul>
        </div>
    </div>
</main>
</body>
</html>