<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Update</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/addr.css}">
    <script defer th:src="@{/js/addr_write.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<main>
    <a th:href="@{/main}">
        <h1>CALTIZM</h1>
    </a>
    <div class="big_box">
        <p class="title">주소록 관리</p>
        <div class="input_wrap">
            <input type="text" id="addressId"
                   th:value="${address.addressId}" style="display: none;" required>
            <div id="addr" class="box">
                <p id="addr_p" class="input"
                   th:text="${address.address}" style="color: black;">영문주소</p>
                <input type="text" name="address" id="addressEnglishInput"
                       th:value="${address.address}" style="display: none;" required>
            </div>
            <div id="postcode" class="box">
                <p id="postcode_p" class="input"
                   th:text="${address.zipCode}" style="color: black;">우편번호</p>
                <input type="text" name="zipCode" id="postcodeInput"
                       th:value="${address.zipCode}" style="display: none;" required>
            </div>
            <div id="detailed" class="box">
                <input type="text" name="detail" id="detailed_p" class="input"
                       placeholder="상세주소를 입력해주세요" readonly required
                       th:value="${address.detail}">
            </div>
        </div>
        <div class="btn" id="btn1">주소록 수정</div>
        <button class="btn" id="btn2">주소록 적용</button>
    </div>
</main>
</body>
</html>