<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div id="logo_wrap">
        <h1 id="logo">CALTIZM</h1>
    </div>
    <div id="wrap_wrap">
        <div id="wrap1">
            <div id="header_input_wrap">
                <form action="" id="header_form">
                    <input type="text" id="header_input">
                    <img src="/img/header_search.svg" alt="" id="header_search">
                </form>
            </div>
            <div id="header_icon_wrap">
                <div class="small_icon_wrap">
                    <span class="small_txt">1</span>
                </div>
                <img src="/img/header_wishlist.svg" alt="" id="header_wishlist" class="header_icon">
                <div class="small_icon_wrap">
                    <img src="/img/dot.svg" alt="" class="small_icon">
                </div>
                <img src="/img/header_alarm.svg" alt="" id="header_alarm" class="header_icon">
                <ul id="header_alarm_dropdown">
                    <li class="header_alarm_dropdown_list">현재1165156165ㄴ165ㅇㅁㄴ651ㅇ65ㅁㄴ165ㅁㄴ1ㅇ6ㅁ</li>
                    <li class="header_alarm_dropdown_list">내용</li>
                    <li class="header_alarm_dropdown_list">없음</li>
                </ul>
                <img src="/img/header_profile.svg" alt="" id="header_profile" class="header_icon">
                <ul id="header_profile_dropdown">
                    <li class="header_profile_dropdown_list">로그인</li>
                    <li class="header_profile_dropdown_list">회원가입</li>
                </ul>
                <div class="small_icon_wrap">
                    <span class="small_txt">1</span>
                </div>
                <img src="/img/header_bucket.svg" alt="" id="header_bucket" class="header_icon">
            </div>
        </div>
        <div id="wrap2">
            <ul id="header_nav">
                <li class="header_list">ALL</li>
                <li class="header_list">BRAND</li>
                <li class="header_list">FTA</li>
                <li class="header_list">TAX</li>
                <li class="header_list">COMMUNITY</li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>