* {
    white-space: nowrap;
}

main {
    display: flex;
    padding: 0 120px;
    width: 100%;
    margin-top: 40px;
}

.left_box {
    width: 1080px;
    height: 760px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

.nav_list {
    cursor: pointer;
}

.nav_list p {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 22px;
    height: 50px;
    color: rgb(135, 120, 120);
}

hr {
    border: 1px solid rgba(195, 185, 185, 0.6);
    height: 0;
}

.nav_list:hover p, .nav_list:hover hr {
    color: black;
}

.nav_list:hover hr {
    border: 1px solid black;
}

.nav_list.active p {
    color: black;
}

.nav_list.active hr {
    border: 1px solid black;
}

nav form {
    margin-top: 10px;
    display: flex;
}

#search {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(195, 185, 185, 0.6);
    padding: 10px;
}

#search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: 1px solid rgba(195, 185, 185, 0.6);
    background-color: white;
    padding: 10px;
    border-left: none;
    cursor: pointer;
    color: rgb(135, 120, 120);
    font-size: 16px;
}

.write_wrap {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(195, 185, 185, 0.6);
}

#write_txt {
    padding-left: 6px;
    color: rgb(135, 120, 120);
}






.right_box {
    margin-left: 30px;
    width: 350px;
    height: 700px;
    position: sticky;
    top: 100px;
}

.rec_box {
    border: 1.5px solid rgba(195, 185, 185, 0.6);
    border-radius: 10px;
    width: 350px;
    height: 200px;
    padding: 20px;
}

.box_title {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: bold;
}

.box_item {
    margin: 6px 0;
    cursor: pointer;
}

.box_item:hover {
    text-decoration: underline;
}

.ad_box {
    margin-top: 20px;
    width: 350px;
    height: 480px;
    border: 1.5px solid rgba(195, 185, 185, 0.6);
    border-radius: 10px;
    padding: 10px;
}

.ad_box img {
    width: 330px;
    height: 460px;
}