main {
    display: flex;
    padding: 50px 120px;
    width: 100%;
    margin-bottom: 50px;
}

#product_img_wrap {
    width: 450px;
    height: 720px;
}

#product_img {
    width: 450px;
    height: 720px;
}

#product_info_wrap {
    margin-left: 120px;
    width: 600px;
}

#product_brand {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

#product_name {
    font-size: 26px;
    font-weight: 500;
}

#product_price {
    margin-top: 20px;
    font-size: 36px;
    color: salmon;
    font-weight: bold;
}

#product_sales {
    font-size: 24px;
    color: red;
    font-weight: bold;
}

#product_category {
    margin: 20px 0;
    display: flex;
}

#product_category li::before {
    content: "/";
    margin: 0 6px;
}

.category_list {
    font-size: 16px;
    font-weight: bold;
}

.point_list {
    font-size: 14px;
    margin-bottom: 2px;
}

b {
    text-decoration: line-through;
}

#product_point {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#product_point li::before {
    content: "-";
    margin-right: 4px;
}

.btn {
    margin-top: 20px;
    padding: 10px 22px;
    background-color: rgba(190, 190, 190, 0.2);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    width: 550px;
}

#wishlist_btn {
    margin-top: 30px;
}

.btn:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

.btn p {
    font-size: 14px;
    font-weight: bold;
}

.btn img {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 20px;
    height: 20px;
    fill: black;
}

#bucket_btn {
    margin: 20px 0 10px 0;
    position: relative;
}

#count_wrap {
    display: none;
    border: 1.5px solid #d6bac3;
    width: 140px;
    height: 42px;
    align-items: center;
    position: absolute;
    right: 460px;
}

#count_num {
    width: 60px;
    height: 42px;
    padding: 10px;
    color: #bb899a;
    text-align: center;
    border-right: 1.5px solid #d6bac3;
}

.count {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#count_minus {
    border-right: 1.5px solid #d6bac3;
}

.count:hover {
    background-color: #e8dee1;
}

@media (max-width: 800px) {
    #product_info_wrap {
        display: none;
    }
    #product_img_wrap, #product_img {
        width: 600px;
        height: 960px;
    }

}

#product_price::after {
    content: " - 19% 부가가치세 제외 가격";
    font-size: 13px;
    color: black;
    margin-left: 5px;
}


