<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="address">

    <select id="selectAddressAll" resultType="AddressResponseDTO">
        select a.address_id as addressId, u.email, a.address, a.detail, a.zip_code as zipCode
        from Address a
        join User u
        on a.user_id = u.user_id
        where u.email = #{email}
    </select>

    <insert id="insertAddress" parameterType="AddressRequestDTO">
        insert into Address(user_id, address, detail, zip_code)
        values((select user_id from User where email = #{email}), #{address}, #{detail}, #{zipCode})
    </insert>

    <delete id="deleteAddress">
        delete from Address
        where address_id = #{addressId}
    </delete>

    <select id="selectAddress" resultType="AddressResponseDTO">
        select address_id as addressId, user_id as userId, address, detail, zip_code as zipCode
        from Address
        where address_id = #{addressId}
    </select>

    <update id="updateAddress">
        update Address
        set address = #{address}, detail = #{detail}, zip_code = #{zipCode}
        where address_id = #{addressId}
    </update>

    <select id="checkMaxAddressLimit" resultType="int">
        select count(*)
        from Address
        where user_id = (select user_id from User where email = #{email})
    </select>

</mapper>
